%form{:method=>"POST"}
  %label 
    Title
    %input{:name=>'title', :value=>@post.title}
  %label 
    Slug
    %input{:name=>'slug', :value=>@post.slug}
  %label 
    Body
    %textarea{:name=>'body'}
      =@post.body
  %label 
    Posted
    %input{:name=>'posted', :value=>@post.posted}
  %input{:type=>'submit', :value=>'Save'}
