- @posts.each do |p| 
  .post
    .head
      %h2
        %a{:href=>"/#{p.slug}"}
          = p.title
    .body
      != replace_gist(markdown(p.body))
    .foot
      %a{:href=> "/#{p.slug}#comments"} Comments
